* { margin: 0; }



h1 { text-align: center;
	font-size: 300%;
	font-family: Arial Black, Gadget, sans-serif;
	color:white;
	background-color:black; 
	margin-bottom: 10px;
}

ul.indexlist li{
	font-family: monospace;
	list-style-type: none;
	margin-bottom: 2px;
}

ul.indexlist li a{
	text-decoration: none;
}
