body{
	font-family: sans-serif;
}

h1{ 
	color: red;
	margin-bottom: 10px;
}

h2{
	margin-top: 10px;
	margin-bottom: 10px;
}

p {
	margin: 0 5px 0 5px;
}

h1, h2, ul.indexlist li{
	font-family: monospace, "Courier New";
}

ul.indexlist{
	padding-left: 0px;
	margin-left: 5px;
}

ul.indexlist li{
	list-style: none;
}

ul.indexlist li a{
	text-decoration: none;
	line-height: 150%;
}
