div.post
	h1.title Wo sind die Banner?
	.entry Dies ist eine freie Mirror Implementation. Was bedeutet "frei"? Frei bedeutet, dass du dir den Source-Code einfach von <a href="http://github.com/niklasfi/8080">github.com</a> herunterladen und auf deinem Server oder Rechner installieren kannst. So wird es jedem ermöglicht die Bandbreite der OTR-Mirror Wolke zu vergrößern. (Patches zum Code sind natürlich auch höchst erwünscht)
div.post
	h1.title Wie lange sind meine links gültig?
	.entry So lange wie die Dateien auf dem Server liegen. Leider steht zur Zeit nur wenig Speicher zur Verfügung, aber ein paar Tage sollten es schon sein.
