div.post
	h1.title Frequently Asked Questions
	p.meta Eine Liste oft gestellter Fragen
	.entry
		h2 Wo sind die Banner?
		p Dies ist eine freie Mirror Implementation. Was bedeutet "frei"? Frei bedeutet, dass du dir den Source-Code einfach von <a href="http://github.com/niklasfi/8080">github.com</a> herunterladen und auf deinem Server oder Rechner installieren kannst. So wird es jedem ermöglicht die Bandbreite der OTR-Mirror Wolke zu vergrößern. (Patches zum Code sind natürlich auch höchst erwünscht)
		h2 Wie lange sind meine links gültig?
		p	So lange wie die Dateien auf dem Server liegen. Leider steht zur Zeit nur wenig Speicher zur Verfügung, aber ein paar Tage sollten es schon sein.
